<?xml version="1.0"?>
<Border BorderWidth="5" Margin="1" MinimumSize="10,10">
	<VerticalStack>
		<Label Text="{./Instance}"/>
		<Scroller  Name="scroller1" Margin="1" VerticalScrolling="true"		
			ValueChanged="./_scroller_ValueChanged">
			<VerticalStack LayoutChanged="./_list_LayoutChanged" Spacing="0"
				Height="Fit" Name="ItemsContainer" Margin="0" VerticalAlignment="Top"/>
		</Scroller>
	</VerticalStack>
</Border>