*.log
build
bin
obj
Win_x86
Debug
packages
*.nupkg
*.user
.vs/
/GOLib.suo
/tmp
/GOLib.userprefs
*.userprefs
src/GraphicObjects/Panel.cs
src/GraphicObjects/VerticalWrappingWidget.cs
src/GraphicObjects/HorizontalWrappingWidget.cs
TestResult.xml
*.swp
*.perf
.vscode
