<?xml version="1.0"?>
<Border Background="{./Background}" Name="Content"
	Foreground="Transparent" CornerRadius="{./CornerRadius}" BorderWidth="1"
	MouseDown="{Foreground=vgradient|0:Black|0.05:Gray|0.85:Gray|1:White}"
	MouseUp="{Foreground=vgradient|0:White|0.2:Gray|0.9:Gray|1:Black}">
	<Image Path="{./Caption}" Margin="2" Width="20" Height="20" />
</Border>
