<?xml version="1.0"?>
<VerticalStack>
	<Border Style="TreeItemBorder" >		
		<HorizontalStack Spacing="5" Focusable="true" MouseDoubleClick="./onClickForExpand">
			<Image Margin="1" Width="9" Height="9" Focusable="true" MouseDown="./onClickForExpand"
				Path="{./Image}"
				Visible="{./IsExpandable}"
				SvgSub="{./IsExpanded}"
				MouseEnter="{Background=LightGrey}"
				MouseLeave="{Background=Transparent}"/>
            <Label Text="{Kind}" Width="Fit" Margin="2" Background="Onyx"/>
            <Label Multiline="true" Text="{ToFullString}" Foreground="White" Background="Blue" Margin="2"/>            
			<ListBox Data="{GetToks}" Height="Fit" Width="Fit" DataTest="GetKind">
                <Template>
                    <HorizontalStack Name="ItemsContainer"/>
                </Template>                
                <ItemTemplate DataType="OpenBraceToken">
                    <Label Text="{ToFullString}" Foreground="White" Background="Red"/>
                </ItemTemplate>
                <ItemTemplate DataType="OpenParenToken">
                    <Label Text="{ToFullString}" Foreground="Red" />
                </ItemTemplate>
                <ItemTemplate>
                    <Label Text="{ToFullString}" Foreground="Black"/>
                </ItemTemplate>
            </ListBox>            
		</HorizontalStack>
	</Border>
	<Container Name="Content" Visible="false"/>
</VerticalStack>
