<?xml version="1.0"?>
<CheckBox Caption="{./Caption}" IsChecked="{²./IsPopped}" Foreground="{./Foreground}" Background="{./Background}">
	<Template>
		<Border Style="ControlBorder" CornerRadius="{./CornerRadius}">
			<HorizontalStack Spacing="10" Margin="5">
				<Label Style="ControlCaption" Text="{./Caption}" />
				<Border Foreground="White" Width="30" Height="20" Background="{./Background}" CornerRadius="5"/>
			</HorizontalStack>
		</Border>
	</Template>
</CheckBox>		