<Label Font="{./Font}" Text="{./Caption}" CornerRadius="{./CornerRadius}" Width="Stretched" Focusable="false"
	Margin="3"
	Background="{./Background}"
	Foreground="{./Foreground}"
	TextAlignment="Center"/>