<?xml version="1.0" encoding="UTF-8" ?>
<MenuItem MinimumSize="20,20" Height="Fit" Width="160" Caption="Context Menu" Data="{ContextCommands}"
		Orientation="Vertical"
		IsOpened ="true" IsVisible="{/IsOpened}"
		ItemTemplate="#Crow.MenuItem.itmp">
	<Template>		
		<GenericStack Orientation="{./Orientation}" Name="ItemsContainer" Margin="0" Background="${MenuBackground}"/>		
	</Template>
</MenuItem>

