<?xml version="1.0"?>
<Border Style="ControlBorder" MinimumSize="10,10" Background="{./Background}" CornerRadius="{./CornerRadius}">
	<Scroller  Name="scroller1" >
		<VerticalStack Height="Fit" Name="ItemsContainer" VerticalAlignment="Top"/>
	</Scroller>
</Border>
