<?xml version="1.0"?>
<HorizontalStack Style="Control" Background="{./Background}">
	<Image Style="Icon" Path="#Crow.Icons.radiobutton.svg"
		SvgSub="{./IsChecked}"/>
	<Label Text="{./Caption}"/>
</HorizontalStack>