<?xml version="1.0" encoding="UTF-8" ?>
<Border Fit="true" Foreground="${TooltipForeground}" Background="${TooltipBackground}">
	<Label Margin="${TooltipMargin}" Foreground="${TooltipForeground}" Multiline="true" Text="{Tooltip}"/>
</Border>
