<?xml version="1.0"?>
<Border Foreground="Gray" CornerRadius="{./CornerRadius}" BorderWidth="1"
	MouseEnter="{Foreground=BlueCrayola}"
	MouseLeave="{Foreground=Gray}">
	<HorizontalStack Background="{./Background}" Margin="1">
		<Image Style="Icon" Path="#Crow.Images.Icons.radiobutton.svg"
			SvgSub="{./IsChecked}"/>
		<Label Font="{./Font}" Text="{./Caption}" Foreground="{./Foreground}" Margin="2"/>
	</HorizontalStack>
</Border>