<?xml version="1.0"?>
<Border BorderWidth="1" Foreground="{./Foreground}" Background="{./Background}">
	<VerticalStack>
		<HorizontalStack Spacing="1" Height="Fit">
			<Image Style="Icon" Margin="2"
				Visible="{./HasContent}"
				Path="{./Image}" 
				SvgSub="{./IsExpanded}"/>
			<Label Text="{./Caption}"/>
		</HorizontalStack>
		<Container Name="Content" Visible="false"/>
	</VerticalStack>
</Border>