<?xml version="1.0"?>
<Border BorderWidth="1" Margin="1" MinimumSize="10,10" Height="{./HeightPolicy}" Width="{./WidthPolicy}" >
	<Scroller  Name="scroller1" Margin="1" VerticalScrolling="true"
		Height="{./HeightPolicy}" Width="{./WidthPolicy}"
		ValueChanged="./_scroller_ValueChanged">
		<VerticalStack LayoutChanged="./_list_LayoutChanged"
			Height="Fit" Width="{./WidthPolicy}" Name="ItemsContainer" Margin="0" VerticalAlignment="Top"/>
	</Scroller>
</Border>