<?xml version="1.0"?>
<Border BorderWidth="1" Margin="1" MinimumSize="10,10">
	<Scroller  Name="scroller1" Margin="1" >
		<VerticalStack
			Height="Fit" Name="ItemsContainer" Margin="0" VerticalAlignment="Top"/>
	</Scroller>
</Border>
