<?xml version="1.0"?>
<Border Background="{./Background}" BorderWidth="1" Foreground="{./Foreground}" Height="Fit">
	<HorizontalStack Spacing="1">
		<Image Style="Icon" Margin="2"
				Path="#Crow.Images.Icons.expandable.svg" SvgSub="{./IsPopped}"/>
		<Label Text="{./Caption}" />
	</HorizontalStack>
</Border>