<?xml version="1.0"?>
<HorizontalStack>
	<Scroller  Name="scroller1" Margin="1" VerticalScrolling="true"
		Background="{./Background}"
		ScrollY="{../scrollbar1.Value}">
		<VerticalStack
			Height="Fit" Name="ItemsContainer" Margin="0" VerticalAlignment="Top"/>
	</Scroller>
	<ScrollBar
		Name="scrollbar1"
		Value="{../scroller1.ScrollY}"
		Maximum="{../scroller1.MaximumScroll}"
		Width="14" Orientation="Vertical"/>
</HorizontalStack>
