<?xml version="1.0"?>
<Button Command="{}" Width="Stretched" BubbleEvents="All">
	<Template>
		<HorizontalStack Background="{./Background}" Width="Stretched" Height="Stretched" Margin="3" Spacing="6"
						MouseEnter="{Background=${ControlHighlight}}"
						MouseLeave="{Background=Transparent}">
			<Image Style="MenuIcon" Picture="{./Icon}" />
			<Label Text="{./Caption}" Width="Stretched" Height="Fit" Margin="1"/>
		</HorizontalStack>
	</Template>
</Button>
